# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment
# =========================
.env

# =========================
# SQLite
# =========================
menu.db
menu.db-shm
menu.db-wal

# На будущее
*.sqlite
*.sqlite3

# =========================
# Uploads
# =========================
public/uploads/*
!public/uploads/.gitkeep

# =========================
# Backups
# =========================
backups/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp
# =========================
tmp/